Repository ministryofjustice/modernisation-platform-configuration-management, pull requests merged in 2024-04, with the labels that each got.

#683 Testing labeler and hoping to label existing PRs
  .github/workflows/labeler.yml
Labels: github-workflow, configuration-management-repository

#684 Test pr labeler
  .github/workflows/labeler.yml
Labels: github-workflow, configuration-management-repository

#686 Added Analytical platform user creation on ASM
  ansible/roles/oasys-ap-dms-setup/README.md
  ansible/roles/oasys-ap-dms-setup/defaults/main.yml
  ansible/roles/oasys-ap-dms-setup/meta/main.yml
  ansible/roles/oasys-ap-dms-setup/tasks/main.yml
  ansible/roles/oasys-ap-dms-setup/tasks/oasys-dms-user-setup.yml
  ansible/roles/oasys-ap-dms-setup/templates/dms_user_creation.sql.j2
Labels: configuration-management-repository

#687 Onr/dsos 2682/onr boe install
  ansible/group_vars/server_type_onr_boe.yml
  ansible/roles/onr-boe/README.md
  ansible/roles/onr-boe/templates/responseTemplate.ini
  ansible/roles/onr-get/README.md
  ansible/roles/onr-get/defaults/main.yml
Labels: configuration-management-repository

#688 onr-tomcat: rename to onr-web
  ansible/roles/onr-web/defaults/main.yml
  ansible/roles/onr-web/meta/main.yml
  ansible/roles/onr-web/tasks/add_groups.yml
  ansible/roles/onr-web/tasks/add_response_file.yml
  ansible/roles/onr-web/tasks/assign_permissions.yml
  ansible/roles/onr-web/tasks/extract_files.yml
  ansible/roles/onr-web/tasks/get_facts.yml
  ansible/roles/onr-web/tasks/install_packages.yml
  ansible/roles/onr-web/tasks/install_tomcat.yml
  ansible/roles/onr-web/tasks/main.yml
  ansible/roles/onr-web/tasks/post_installation_config.yml
  ansible/roles/onr-web/tasks/retrieve_files.yml
  ansible/roles/onr-web/templates/context.xml
  ansible/roles/onr-web/templates/properties/BILogon.properties
  ansible/roles/onr-web/templates/properties/CmcApp.properties
  ansible/roles/onr-web/templates/properties/FioriBI.properties
  ansible/roles/onr-web/templates/properties/OpenDocument.properties
  ansible/roles/onr-web/templates/properties/PlatformServices.properties
  ansible/roles/onr-web/templates/properties/biprws.properties
  ansible/roles/onr-web/templates/properties/global.properties
  ansible/roles/onr-web/templates/root/BIP_profile_icon.png
  ansible/roles/onr-web/templates/root/BIP_profile_menu_70pct.png
  ansible/roles/onr-web/templates/root/BIlogoff.jsp
  ansible/roles/onr-web/templates/root/BrowserCheck.jsp
  ansible/roles/onr-web/templates/root/BrowserCheck_Offline.jsp
  ansible/roles/onr-web/templates/root/InfoView.ico
  ansible/roles/onr-web/templates/root/Unsupported_Browser.html
  ansible/roles/onr-web/templates/root/browsercheck.css
  ansible/roles/onr-web/templates/root/browsercheck.js
  ansible/roles/onr-web/templates/root/index.jsp
  ansible/roles/onr-web/templates/root/keepalive.htm
  ansible/roles/onr-web/templates/server.xml
  ansible/roles/onr-web/templates/setenv.sh
  ansible/roles/onr-web/templates/u01/app/bobj/BIP4/sap_bobj/init/setupinit.sh
  ansible/roles/onr-web/templates/u02/software/BIP_4_3_SP1/prereq_checks.ini
  ansible/roles/onr-web/templates/u02/software/BIP_4_3_SP1/tomcat_admin_response.ini
  ansible/roles/onr-web/templates/wdeploy.conf
Labels: configuration-management-repository

#689 Updated oasys production database backup schedule to run at 4:30am ev…
  ansible/group_vars/environment_name_oasys_production.yml
Labels: configuration-management-repository

#690 Updated to reduce the number of channels due to high cpu usage during…
  ansible/roles/oracle-db-backup/templates/rman_backup.sh.j2
Labels: configuration-management-repository

#691 oasys fixes
  ansible/group_vars/server_type_oasys_db.yml
  ansible/group_vars/server_type_onr_db.yml
  ansible/roles/oasys-ords/files/oasys-core-combined-min.js
  ansible/roles/oasys-ords/tasks/files.yml
Labels: configuration-management-repository

#692 DSOS-2713: stripped down, working, ngninx config
  ansible/roles/ndh-app/templates/etc/nginx/nginx.conf.j2
Labels: configuration-management-repository

#693 Updated to add OASYS_6.49.1.0 release
  ansible/roles/oasys-ords/defaults/main.yml
  ansible/roles/oasys-ords/files/oasys-core-combined-min.js
  ansible/roles/oasys-ords/tasks/files.yml
Labels: configuration-management-repository

#694 add missing vars
  ansible/roles/onr-get/defaults/main.yml
Labels: configuration-management-repository

#697 onr(get): add task to ensure user and group exist
  ansible/roles/onr-get/tasks/ensure-user-group.yml
  ansible/roles/onr-get/tasks/main.yml
Labels: configuration-management-repository

#698 onr(get): don't create home for boe_install_user
  ansible/roles/onr-get/tasks/ensure-user-group.yml
Labels: configuration-management-repository

#700 new_nomis_forms_tar
  ansible/roles/nomis-weblogic/defaults/main.yml
Labels: configuration-management-repository

#702 Updated Audit housekeeping period
  ansible/group_vars/environment_name_oasys_production.yml
Labels: configuration-management-repository

#703 change download file
  ansible/roles/onr-get/defaults/main.yml
Labels: configuration-management-repository

#706 Onr/dsos 2682/onr boe install
  ansible/group_vars/server_type_onr_boe.yml
  ansible/roles/onr-boe/tasks/install-boe.yml
  ansible/roles/onr-boe/tasks/main.yml
  ansible/roles/onr-boe/tasks/template-response.yml
  ansible/roles/onr-boe/templates/response.ini.j2
  ansible/roles/onr-boe/templates/responseTemplate_patch.ini
  ansible/roles/onr-get-more/defaults/main.yml
  ansible/roles/onr-get-more/meta/main.yml
  ansible/roles/onr-get-more/tasks/download-software.yml
  ansible/roles/onr-get-more/tasks/extract-software.yml
  ansible/roles/onr-get-more/tasks/main.yml
  ansible/roles/oracle-11g-client/README.md
  ansible/roles/oracle-11g-client/defaults/main.yml
  ansible/roles/oracle-11g-client/meta/main.yml
  ansible/roles/oracle-11g-client/tasks/cleanup.yml
  ansible/roles/oracle-11g-client/tasks/download_software.yml
  ansible/roles/oracle-11g-client/tasks/install_client.yml
  ansible/roles/oracle-11g-client/tasks/main.yml
  ansible/roles/oracle-11g-client/templates/client_install.rsp.j2
  ansible/roles/oracle-11g-client/templates/home/oracle/.bash_profile
  ansible/roles/oracle-12c-client/README.md
  ansible/roles/oracle-12c-client/defaults/main.yml
  ansible/roles/oracle-12c-client/meta/main.yml
  ansible/roles/oracle-12c-client/tasks/cleanup.yml
  ansible/roles/oracle-12c-client/tasks/download_software.yml
  ansible/roles/oracle-12c-client/tasks/install_client.yml
  ansible/roles/oracle-12c-client/tasks/main.yml
  ansible/roles/oracle-12c-client/templates/client_install.rsp.j2
  ansible/roles/oracle-12c-client/templates/home/oracle/.bash_profile
Labels: configuration-management-repository

#707 add nginx details
  ansible/group_vars/environment_name_nomis_data_hub_production.yml
  ansible/roles/ndh-app/tasks/main.yml
Labels: configuration-management-repository

#711 Onr/dsos 2682/onr boe install
  ansible/group_vars/server_type_onr_db_test.yml
  ansible/roles/oracle-12c-client/tasks/install_client.yml
Labels: configuration-management-repository

#712 Nomis: DSOS-2693: add jumpserver powershell
  powershell/Scripts/UserDataScripts/NomisClient.ps1
Labels: configuration-management-repository

#714 Nomis: DSOS-2693: add jumpserver powershell fix
  powershell/Scripts/UserDataScripts/NomisClient.ps1
Labels: configuration-management-repository

#716 Updated to add TNS entries for production oasys
  ansible/group_vars/server_type_oasys_db.yml
  ansible/group_vars/server_type_onr_db.yml
  ansible/roles/oracle-tns-entries/templates/tnsnames.ora.j2
Labels: configuration-management-repository

#717 Added to include oracle-tns-entriesin server build
  ansible/group_vars/server_type_oasys_db.yml
  ansible/group_vars/server_type_onr_db.yml
Labels: configuration-management-repository

#724 fix ssm-user sudo in users-and-groups
  ansible/roles/users-and-groups/tasks/add-ssm-user.yml
Labels: configuration-management-repository

#725 DSOS-2749: add filesystems role
  ansible/roles/filesystems/README.md
  ansible/roles/filesystems/defaults/main.yml
  ansible/roles/filesystems/meta/main.yml
  ansible/roles/filesystems/tasks/main.yml
  ansible/roles/filesystems/tasks/mount.yml
Labels: configuration-management-repository

#699 Initial version of SEND BACKUP REPORT job
  ansible/roles/oracle-oms-setup/files/jobs/common/send_backup_report.txt
  ansible/roles/oracle-oms-setup/tasks/create_jobs.yml
  ansible/roles/oracle-oms-setup/tasks/main.yml
Labels: configuration-management-repository, hmpps-migration-alerts-ignore

#727 Remove Symlink
  ansible/roles/roles
Labels: configuration-management-repository

#729 Run post agent install as root
  ansible/roles/oracle-oem-agent-setup/tasks/oem_agent_install.yml
Labels: configuration-management-repository

#731 DSOS-2749: add windows fileshare
  ansible/group_vars/environment_name_hmpps_domain_services_test.yml
  ansible/roles/filesystems/README.md
  ansible/roles/filesystems/defaults/main.yml
  ansible/roles/filesystems/tasks/domain-creds.yml
  ansible/roles/filesystems/tasks/main.yml
  ansible/roles/filesystems/templates/domain.creds
Labels: configuration-management-repository

#728 ncr-preprod-updates
  ansible/group_vars/server_type_ncr_bip.yml
  ansible/roles/ncr-bip/defaults/main.yml
  ansible/roles/ncr-web/defaults/main.yml
Labels: configuration-management-repository

#734 DSOS-2749: windows fileshare fix
  ansible/roles/secretsmanager-passwords/README.md
  ansible/roles/secretsmanager-passwords/defaults/main.yml
  ansible/roles/secretsmanager-passwords/tasks/main.yml
Labels: configuration-management-repository

#732 Feature/trivy
  .github/workflows/code-scanning.yml
  .trivyignore.yaml
Labels: github-workflow, configuration-management-repository

#737 Install EM Monitoring script as Oracle user
  ansible/roles/oracle-oms-setup/tasks/setup_scripted_notifications.yml
Labels: configuration-management-repository

#738 add secrets to response file
  ansible/group_vars/server_type_onr_boe.yml
  ansible/roles/onr-boe/defaults/main.yml
  ansible/roles/onr-boe/tasks/get-facts.yml
  ansible/roles/onr-boe/tasks/install-boe.yml
  ansible/roles/onr-boe/tasks/main.yml
  ansible/roles/onr-boe/tasks/template-response-file.yml
  ansible/roles/onr-boe/tasks/template-response.yml
  ansible/roles/onr-boe/tasks/users.yml
  ansible/roles/onr-boe/templates/home/bobj/.bash_profile
  ansible/roles/onr-boe/templates/response.ini
  ansible/roles/onr-get/tasks/extract-software.yml
Labels: configuration-management-repository
